.container-1 {
  display: grid;
  grid-template-columns:200px 1fr;
  gap: 50px;
  margin: auto;
  max-width: 75%;
  
}

.menu {
  color: white;
  text-decoration: none;
  font-size: 19px;
  padding: 10px 20px;
  background-color: #1e90ff;
}

.menuPrincipal{
  display: grid;
  gap: 50px;
  margin: auto;
  grid-template-columns: repeat(6, 1fr);
  
}

.menu:hover {
  background-color: #105b97;
}
/* .Promoções:hover {
  background-color: #105b97;
}

.Promoções {
  display: flex;
  font-size: 19px;
  background-color: #1e90ff;
  color: white;
  text-decoration: none;
  margin-top: 15px;
  padding: 10px 20px;
} */

.valor1 {
  margin-top: 15px;
}
.valor2 {
  margin-top: 9px;
}

.valor3 {
  margin-top: 30px;
}

.valor4 {
  margin-top: 31px;
}

.botão1:hover {
  background-color: #105b97;
}
.botão1 {
  background-color: #1e90ff;
  color: #fff;
  padding: 10px 25px 10px 25px;
  margin-top: 15px;
  border: none;
}

.container-2 {
  display: flex;
  height: auto;
  background-color: #f5f5f5;
  max-width: 1200px;
  margin: auto;
}

.espacoInterno{
  display: grid;
 
}


.vitrine {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin-top: 2%;
  margin-left: 2.5%;
  margin-bottom: 5%;
  gap: 50px
}

.texto1 {
  display: flex;
  width: 240px;
  color: black;
  font-family: "Roboto", sans-serif;
}
.botão2 {
  background-color: #1e90ff;
  color: #fff;
  padding-top: 10px;
  padding-left: 25px;
  padding-bottom: 10px;
  padding-right: 25px;
  margin-top: 5px;
  border: none;
}
.botão2:hover {
  background-color: #105b97;
}

.botão2 {
  background-color: #1e90ff;
  color: #fff;
  padding-top: 10px;
  padding-left: 25px;
  padding-bottom: 10px;
  padding-right: 25px;
  margin-top: 5px;
  border: none;
}

.texto2 {
  display: flex;
  width: 240px;
  color: black;
  font-family: "Roboto", sans-serif;
  margin-top: 16px;
}

.logo {
  margin: auto;
  width: 150px;
}

.Carrinho {
  width: 70px;
}


.botão3:hover {
  background-color: #105b97;
}
.botão3 {
  background-color: #1e90ff;
  color: #fff;
  padding: 10px 25px 10px 25px;
  margin-top: 30px;
  border: none;
}

.botão4:hover {
  background-color: #105b97;
}
.botão4 {
  background-color: #1e90ff;
  color: #fff;
  padding: 10px 25px 10px 25px;
  margin-top: 15px;
  border: none;
}

.botao5:hover {
  background-color: #105b97;
}
.botao5 {
  background-color: #1e90ff;
  color: #fff;
  padding: 10px 25px 10px 25px;
  margin-top: 15px;
  border: none;
}
