.container-1 {
    display: flex;
    gap: 35px;
    max-width: 100%;
    padding: 5px;
    justify-content: center;
    margin-left: 110px;
}

.menu {
    display: block;
    color: white;
    text-decoration: none;
    font-size: 19px;    
    padding: 10px 20px;
    margin-top: 15px;
    background-color: #1E90FF;
}

.menu:hover {
    background-color: #105b97;
}
.Promoções:hover{
    background-color: #105b97;
}

.Promoções {
    display: flex;
    font-size: 19px;
    background-color: #1E90FF;
    color: white;
    text-decoration: none;
    margin-top: 15px;
    padding: 10px 20px
}

.valor1 {
    margin-top: 15px;
}
.valor2{
    margin-top: 9px;
}

.botão1:hover {
    background-color: #105b97;
}
.botão1 {
    background-color: #1E90FF;
    color: #fff;
    padding: 10px 25px 10px 25px;
    margin-top: 15px;
    border: none;


}


.container-2 {
    display: flex;
    flex-wrap: wrap;
    height: 800px;
    background-color: #F5F5F5;
    max-width: 1200px;
    margin: auto;
    
}

.vitrine {
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
    gap: 50px;
}


.texto1 {
    display: flex;
    width: 240px;
    color: black;
    font-family: 'Roboto', sans-serif;
}
.botão2 {
    background-color: #1E90FF;
    color: #fff;
    padding-top: 10px;
    padding-left: 25px;
    padding-bottom: 10px;
    padding-right: 25px;
    margin-top: 5px;
    border: none;
}
.botão2:hover{
    background-color: #105b97;
}

.botão2 {
    background-color: #1E90FF;
    color: #fff;
    padding-top: 10px;
    padding-left: 25px;
    padding-bottom: 10px;
    padding-right: 25px;
    margin-top: 5px;
    border: none;
}

.texto2 {
    display: flex;
    width: 240px;
    color: black;
    font-family: 'Roboto', sans-serif;
    margin-top: 16px;
}

.logo {
    margin-left: -190px;
    width: 120px;
}
.Carrinho{
    width: 70px; 
    margin: 0px 0px 0px 20px;
    
}